    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    body {
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 10px;
        font-family: 'Kumbh Sans';
    }

    :root {
        /***primary***/
        --blue600: hsl(185, 75%, 39%);
        --navy950: hsl(229, 23%, 23%);
        --gray500: hsl(227, 10%, 46%);

        /***neutral***/
        --gray100: hsl(225, 10%, 92%);
    }

    @font-face {
        font-family: 'Kumbh Sans';
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/kumbhsans/v27/c4mw1n92AsfhuCq6tVsaoIx1LQICk0boNoq0ShNPVo0.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    .prof-card-bg-cont {
        width: 100%;
        height: 100vh;
        background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
        background-color: var(--blue600);
        background-repeat: no-repeat no-repeat;
        background-position: right 50vw bottom 40vh, left 50vw top 50vh;
        background-attachment: fixed, fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page-title {
        position: absolute; 
        width: 1px; height: 1px; 
        padding: 0; 
        margin: -1px; 
        overflow: hidden; 
        clip: rect(0 0 0 0); 
        white-space: nowrap; 
        border: 0;
    }

    .prof-card {
        width: 34.8rem;
        padding-bottom: 3rem;
        min-height: 35rem;
        background-color: #fff;
        border-radius: 1.3rem;
        background-image: url('images/bg-pattern-card.svg');
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .prof-card__profile-img {
        border-radius: 50%;
        background-color: #fff;
        padding: .5rem;
        margin-top: 24%;
        /* margin-top: 8.5rem; */
    }

    .prof-card__name {
        font-size: 1.8rem;
        color: var(--navy950);
        margin-top: 2.2rem;
        margin-bottom: 1rem;
    }

    .prof-card__age {
        font-weight: 400;
        color: var(--gray500);
        padding-left: 1rem;
    }

    .prof-card__location {
        font-size: 1.5rem;
        color: var(--gray500);
        font-weight: 400;
        margin-top: 0;
    }

    .prof-card__divider {
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .prof-card__stat-wrap {
        width: 100%;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 5.4rem;
        box-sizing: border-box;
    }

    .prof-card__category-wrap {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .prof-card__quants {
        font-size: 1.8rem;
        margin-top: 0;
        margin-bottom: .4rem;
        margin-inline: 0;
        padding-inline: 0;
        letter-spacing: 1px;
        font-weight: 700;
    }

    .prof-card__cats {
        font-size: 1.2rem;
        letter-spacing: 1px;
        color: var(--gray500);
        padding: 0;
        margin: 0;
    }

    @media screen and (max-width: 375px) {
        .prof-card-bg-cont {
            background-position: right 38vw bottom 60vh, left 48vw top 55vh;
            background-size: 70rem, 60rem;
        }
    }

    @media screen and (max-width: 345px) {

        .prof-card {
            width: 95%;
            min-height: auto;
        }

        .prof-card__stat-wrap {
            padding-inline: 3rem;
        }
    }

    

